* {
    list-style: none;
    margin: 10px;
    padding:2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    color: black;
}

header {
    width: 100%;
    display: flex;
}

.titre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid red;
    position: relative;
    
    
}

.Photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

#Presentation {
    width: 100%;
    height: auto;

}

#Diplome {
    width: 100%;
    height: auto;
}

h2 {
    text-align: left;
    text-decoration: underline;
}

#Presentation h2, #Xp h2 {
    text-align: center;
}

h4 {
    text-align: left;
}

h5 {
    text-align: right;
    font-style: italic;
}

h2,h4,h5 {
    color: black;
}

#Xp,#Presentation,#Langage,#Permis,#Inté,#Xp,#Diplome,#Comp {
    width: 100%;
    height: auto;
}

#Comp li,#Inté li {
    list-style: circle;  
}

.maingrid {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.scdgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.right {
    width: 100%;
    height: auto;
}

.left {
    margin-right:5px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 15px;
}

.barrette {
    padding-top: 20%;
}

.barrette::before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: rgba(255, 0, 0, 0.5);   
}